#include <windows.h>
#include "spicapturepreview.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON           ICON                    "video_spi.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 9,0,0,0
 PRODUCTVERSION 9,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "DirectShow Sample\0"
            VALUE "CompanyName", "Microsoft\0"
            VALUE "FileDescription", "spicapturepreview Application\0"
            VALUE "FileVersion", "9.00\0"
            VALUE "InternalName", "spicapturepreview\0"
            VALUE "LegalCopyright", "Copyright (c) Microsoft Corporation\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "spicapturepreview.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "DirectX 9 SDK\0"
            VALUE "ProductVersion", "9.0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

